:root {
	--marrom: #513e2f;
	--bege: #f7d2b6;
	--vinho: #bb2c1c;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* elementos base */
body {
	background-color: var(--marrom);
	font-family: "Times New Roman", Times, serif;
	color: #fff;
}
header .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
header .logo {
	margin-left: 5px;
	color: var(--bege);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 40px;
}
header nav a {
	text-decoration: none;
	color: var(--bege);
	margin-right: 10px;
}
header nav a:hover {
	color: #fff;
}

/* filme principal */
.filme-principal {
	font-size: 16px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/blade_runner.jpg");
	height: 400px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.filme-principal .descricao {
	margin-bottom: 40px;
}
.titulo {
	font-size: 40px;
}
